.TopBar {
  display:flex;
  padding:10px;
  background-color: rgb(1,1,75);
  color:white;
  align-items: center;
  margin-bottom: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: black;  /* ← fixes white text */
}
